In [3]:
import pandas as pd

xls = pd.ExcelFile('MIDRC Open A1 and R1 - cumulative by batch.xlsx')
xls.sheet_names

C:\Users\robt_\AppData\Local\Temp\ipykernel_12572\3102805895.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

['Age at Index',
 'Sex',
 'Race',
 'Ethnicity',
 'Race and Ethnicity',
 'Covid-19 Positive']

In [4]:
df = pd.read_excel(xls, 'Sex')
df

,date,Female (CUSUM),Male (CUSUM),Not reported (CUSUM),Female (%),Male (%),Not reported (%)
0,2021-08-04,116,80,0,59.18,40.82,0.00
1,2021-08-20,381,322,0,54.20,45.80,0.00
2,2021-08-23,811,646,0,55.66,44.34,0.00
3,2021-08-27,1470,1178,0,55.51,44.49,0.00
4,2021-09-02,1579,1281,0,55.21,44.79,0.00
5,2021-09-15,1835,1412,2,56.48,43.46,0.06
6,2021-09-22,1896,1461,2,56.45,43.50,0.06
7,2021-10-29,2332,1872,2,55.44,44.51,0.05
8,2021-11-04,2444,1975,2,55.28,44.67,0.05
9,2021-11-17,4458,3610,4,55.23,44.72,0.05
10,2022-01-05,4863,3948,4,55.17,44.79,0.05
11,2022-01-07,5591,4737,4,54.11,45.85,0.04
12,2022-01-14,5912,5043,4,53.95,46.02,0.04
13,2022-01-24,5951,5107,4,53.80,46.17,0.04
14,2022-02-11,5982,5146,4,53.74,46.23,0.04
15,2022-02-14,6096,5278,4,53.58,46.39,0.04
16,2022-02-18,6960,6158,4,53.04,46.93,0.03
17,2022-02-28,7211,6431,8,52.83,47.11,0.06
18,2022-03-08,8365,7413,8,52.99,46.96,0.05
19,2022-03-14,8946,7995,8,52.78,47.17,0.05
20,2022-03-29,9919,8885,13,52.71,47.22,0.07
21,2022-04-15,11228,10073,13,52.68,47.26,0.06
22,2022-05-31,11260,10106,13,52.67,47.27,0.06
23,2022-07-15,13268,12472,13,51.52,48.43,0.05
24,2022-08-12,18742,17787,14,51.29,48.67,0.04
25,2022-08-19,21288,20253,15,51.23,48.74,0.04
26,2022-12-06,22244,21177,15,51.21,48.75,0.03
27,2023-01-05,22324,21258,15,51.21,48.76,0.03
28,2023-01-06,23299,22067,17,51.34,48.62,0.04
29,2023-01-17,24146,23041,17,51.15,48.81,0.04
30,2023-01-31,25247,24105,17,51.14,48.83,0.03
31,2023-02-14,25862,24775,17,51.06,48.91,0.03
32,2023-03-03,26673,25696,17,50.92,49.05,0.03
33,2023-03-24,27581,26646,18,50.85,49.12,0.03
34,2023-04-03,28263,27392,18,50.77,49.20,0.03
35,2023-04-15,30695,29182,18,51.25,48.72,0.03
36,2023-04-25,31459,29842,18,51.30,48.67,0.03
37,2023-07-07,31536,29947,18,51.28,48.69,0.03
38,2023-07-27,31785,30114,18,51.33,48.64,0.03
39,2023-08-24,32031,30369,21,51.31,48.65,0.03
40,2023-08-25,32686,30956,21,51.34,48.62,0.03
41,2023-10-03,34155,32352,21,51.34,48.63,0.03
42,2023-11-15,34369,32615,22,51.29,48.67,0.03

In [5]:
pct_cols = [col for col in df.columns if '(%)' in col]
df[['date'] + pct_cols]

         date  Female (%)  Male (%)  Not reported (%)
0  2021-08-04       59.18     40.82              0.00
1  2021-08-20       54.20     45.80              0.00
2  2021-08-23       55.66     44.34              0.00
3  2021-08-27       55.51     44.49              0.00
4  2021-09-02       55.21     44.79              0.00
5  2021-09-15       56.48     43.46              0.06
6  2021-09-22       56.45     43.50              0.06
7  2021-10-29       55.44     44.51              0.05
8  2021-11-04       55.28     44.67              0.05
9  2021-11-17       55.23     44.72              0.05
10 2022-01-05       55.17     44.79              0.05
11 2022-01-07       54.11     45.85              0.04
12 2022-01-14       53.95     46.02              0.04
13 2022-01-24       53.80     46.17              0.04
14 2022-02-11       53.74     46.23              0.04
15 2022-02-14       53.58     46.39              0.04
16 2022-02-18       53.04     46.93              0.03
17 2022-02-28       52.83     47.11              0.06
18 2022-03-08       52.99     46.96              0.05
19 2022-03-14       52.78     47.17              0.05
20 2022-03-29       52.71     47.22              0.07
21 2022-04-15       52.68     47.26              0.06
22 2022-05-31       52.67     47.27              0.06
23 2022-07-15       51.52     48.43              0.05
24 2022-08-12       51.29     48.67              0.04
25 2022-08-19       51.23     48.74              0.04
26 2022-12-06       51.21     48.75              0.03
27 2023-01-05       51.21     48.76              0.03
28 2023-01-06       51.34     48.62              0.04
29 2023-01-17       51.15     48.81              0.04
30 2023-01-31       51.14     48.83              0.03
31 2023-02-14       51.06     48.91              0.03
32 2023-03-03       50.92     49.05              0.03
33 2023-03-24       50.85     49.12              0.03
34 2023-04-03       50.77     49.20              0.03
35 2023-04-15       51.25     48.72              0.03
36 2023-04-25       51.30     48.67              0.03
37 2023-07-07       51.28     48.69              0.03
38 2023-07-27       51.33     48.64              0.03
39 2023-08-24       51.31     48.65              0.03
40 2023-08-25       51.34     48.62              0.03
41 2023-10-03       51.34     48.63              0.03
42 2023-11-15       51.29     48.67              0.03

In [6]:
xls_cdc = pd.ExcelFile('CDC_COVIDpos - cumulative by month.xlsx')
df_cdc = pd.read_excel(xls_cdc, 'Sex')
pct_cols_cdc = [col for col in df_cdc.columns if '(%)' in col]
df_cdc[['date'] + pct_cols]

           date  Female (%)  Male (%)  Not reported (%)
0   31-Jan-2020          10         6                84
1   29-Feb-2020          13        10                78
2   31-Mar-2020          45        45                10
3   30-Apr-2020          48        45                 7
4   31-May-2020          48        45                 7
5   30-Jun-2020          49        45                 6
6   31-Jul-2020          49        45                 6
7   31-Aug-2020          49        45                 6
8   30-Sep-2020          49        45                 6
9   31-Oct-2020          50        45                 5
10  30-Nov-2020          50        45                 4
11  31-Dec-2020          51        46                 4
12  31-Jan-2021          51        46                 4
13  28-Feb-2021          51        46                 4
14  31-Mar-2021          50        46                 4
15  30-Apr-2021          50        46                 4
16  31-May-2021          50        46                 4
17  30-Jun-2021          50        46                 4
18  31-Jul-2021          50        46                 4
19  31-Aug-2021          50        46                 4
20  30-Sep-2021          50        46                 4
21  31-Oct-2021          50        46                 4
22  30-Nov-2021          50        46                 4
23  31-Dec-2021          51        46                 4
24  31-Jan-2022          51        45                 4
25  28-Feb-2022          51        45                 4
26  31-Mar-2022          51        45                 4
27  30-Apr-2022          51        45                 4
28  31-May-2022          51        45                 4
29  30-Jun-2022          51        45                 4
30  31-Jul-2022          51        45                 4
31  31-Aug-2022          51        45                 4
32  30-Sep-2022          51        44                 4
33  31-Oct-2022          51        44                 4
34  30-Nov-2022          52        44                 4
35  31-Dec-2022          52        44                 4
36  31-Jan-2023          52        44                 4
37  28-Feb-2023          52        44                 4
38  31-Mar-2023          52        44                 4

In [7]:
from scipy.spatial import distance

print(df[pct_cols].iloc[-1].values)
print(df_cdc[pct_cols].iloc[-1].values)

distance.jensenshannon(df[pct_cols].iloc[-1].values, df_cdc[pct_cols].iloc[-1].values, base=2.0)

[5.129e+01 4.867e+01 3.000e-02]
[52 44  4]

0.14050659607018628

In [8]:
import numpy as np

xls_census = pd.ExcelFile('Census_all.xlsx')
df_census = pd.read_excel(xls_census, 'Sex')

print(df[pct_cols].iloc[-1].values)
print(df_census.iloc[-1,df_census.columns != 'Group'].values)
print(np.asarray(df_census.iloc[-1,df_census.columns != 'Group'].values,dtype=float))

distance.jensenshannon(df[pct_cols].iloc[-1].values, np.asarray(df_census.iloc[-1,df_census.columns != 'Group'].values,dtype=float), base=2.0)

[5.129e+01 4.867e+01 3.000e-02]
[50.75 49.25 0]
[50.75 49.25  0.  ]

0.013141590862138416

In [9]:
df_race = pd.read_excel(xls, 'Race')
df_race_cdc = pd.read_excel(xls_cdc, 'Race')
df_race_census = pd.read_excel(xls_census, 'Race')

pct_race_cols = [col for col in df_race.columns if '(%)' in col]

midrc_race_data = np.asarray(df_race[pct_race_cols].iloc[-1].values,dtype=float)
cdc_race_data = np.asarray(df_race_cdc[pct_race_cols].iloc[-1].values,dtype=float)
census_race_data = np.asarray(df_race_census.iloc[-1,df_race_census.columns != 'Group'].values,dtype=float)

print(midrc_race_data)
print(cdc_race_data)
print(census_race_data)

print( distance.jensenshannon(midrc_race_data, cdc_race_data, base=2.0) )
print( distance.jensenshannon(midrc_race_data, census_race_data, base=2.0) )
print( distance.jensenshannon(cdc_race_data, census_race_data, base=2.0) )

[ 0.26  5.09 31.43  0.23 51.93  3.22  7.85]
[ 1.  3. 10.  0. 49.  2. 36.]
[ 1.12449633  5.99972609 12.4013544   0.20816639 61.631533   18.63472378
  0.        ]
0.3437509771729132
0.3446536623178897
0.4957297464477581

In [10]:
cusum_race_cols = [col for col in df_race.columns if '(CUSUM)' in col]
race_cols = [col for col in df_race_cdc.columns if '(%)' not in col][1:]

midrc_race_data = np.asarray(df_race[cusum_race_cols].iloc[-1].values,dtype=float)
cdc_race_data = np.asarray(df_race_cdc[race_cols].iloc[-1].values,dtype=float)
census_race_data = np.asarray(df_race_census[race_cols].iloc[-1].values,dtype=float)

print(midrc_race_data)
print(cdc_race_data)
print(census_race_data)

print( distance.jensenshannon(midrc_race_data, cdc_race_data, base=2.0) )
print( distance.jensenshannon(midrc_race_data, census_race_data, base=2.0) )
print( distance.jensenshannon(cdc_race_data, census_race_data, base=2.0) )

[  171.  3408. 21061.   152. 34798.  2158.  5258.]
[  581479.  3079821.  9375835.    87400. 47547915.  1495318. 35631954.]
[ 1.12449633  5.99972609 12.4013544   0.20816639 61.631533   18.63472378
  0.        ]
0.348426109177342
0.34468720624958404
0.5048048383880475

In [2]:
import ExcelLayout
import numpy as np

import importlib
importlib.reload(ExcelLayout)

midrc_data = ExcelLayout.DataSource('MIDRC')
print( midrc_data.sheets['Race'].columns.values() )
print( midrc_data.sheets['Race'].df.columns )
cols_to_use = midrc_data.sheets['Race'].df.columns.intersection(midrc_data.sheets['Race'].columns.values())
#Remove date column
cols_to_use = cols_to_use[1:]
print(cols_to_use)
midrc_race_data = np.asarray(midrc_data.sheets['Race'].df[cols_to_use].iloc[-1].values,dtype=float)
print(midrc_race_data)

cdc_data = ExcelLayout.DataSource('CDC')
#print( cdc_data.sheets['Race'].columns )
cols_to_use = cdc_data.sheets['Race'].df.columns.intersection(cdc_data.sheets['Race'].columns.values())
#Remove date column
cols_to_use = cols_to_use[1:]
cdc_race_data = np.asarray(cdc_data.sheets['Race'].df[cols_to_use].iloc[-1].values,dtype=float)
print(cdc_race_data)

census_data = ExcelLayout.DataSource('Census')
#print( census_data.sheets['Race'].columns.values() )
#print( census_data.sheets['Race'].df.columns )
cols_to_use = census_data.sheets['Race'].df.columns.intersection(census_data.sheets['Race'].columns.values())
print(cols_to_use)
#Remove date column
cols_to_use = cols_to_use[1:]
print(cols_to_use)
census_race_data = np.asarray(census_data.sheets['Race'].df[cols_to_use].iloc[-1].values,dtype=float)
print(census_race_data)

dict_values(['date', 'American Indian or Alaska Native (CUSUM)', 'Asian (CUSUM)', 'Black (CUSUM)', 'Native Hawaiian or Other Pacific Islander (CUSUM)', 'White (CUSUM)', 'Multiple or Other (CUSUM)', 'Not reported (CUSUM)'])
Index(['date', 'American Indian or Alaska Native (CUSUM)', 'Asian (CUSUM)',
       'Black (CUSUM)', 'Native Hawaiian or Other Pacific Islander (CUSUM)',
       'White (CUSUM)', 'Multiple or Other (CUSUM)', 'Not reported (CUSUM)',
       'American Indian or Alaska Native (%)', 'Asian (%)', 'Black (%)',
       'Native Hawaiian or Other Pacific Islander (%)', 'White (%)',
       'Multiple or Other (%)', 'Not reported (%)',
       'American Indian or Alaska Native', 'Asian', 'Black',
       'Native Hawaiian or Other Pacific Islander', 'White',
       'Multiple or Other', 'Not reported'],
      dtype='object')
Index(['American Indian or Alaska Native (CUSUM)', 'Asian (CUSUM)',
       'Black (CUSUM)', 'Native Hawaiian or Other Pacific Islander (CUSUM)',
       'White (CUSUM)', 'Multiple or Other (CUSUM)', 'Not reported (CUSUM)'],
      dtype='object')
[  171.  3408. 21061.   152. 34798.  2158.  5258.]
[  581479.  3079821.  9375835.    87400. 47547915.  1495318. 35631954.]
Index(['date', 'American Indian or Alaska Native', 'Asian', 'Black',
       'Native Hawaiian or Other Pacific Islander', 'White',
       'Multiple or Other', 'Not reported'],
      dtype='object')
Index(['American Indian or Alaska Native', 'Asian', 'Black',
       'Native Hawaiian or Other Pacific Islander', 'White',
       'Multiple or Other', 'Not reported'],
      dtype='object')
[ 1.12449633  5.99972609 12.4013544   0.20816639 61.631533   18.63472378
  0.        ]

In [1]:
import ExcelLayout
import numpy as np
from scipy.spatial import distance

import importlib
importlib.reload(ExcelLayout)

sheet_name = 'Race'

midrc_data = ExcelLayout.DataSource('MIDRC')
cols_to_use = midrc_data.sheets[sheet_name].df.columns.intersection(midrc_data.sheets[sheet_name].columns.values())
cols_to_use = cols_to_use[1:]
midrc_sheet_data = np.asarray(midrc_data.sheets[sheet_name].df[cols_to_use].iloc[-1].values,dtype=float)

cdc_data = ExcelLayout.DataSource('CDC')
cols_to_use = cdc_data.sheets[sheet_name].df.columns.intersection(cdc_data.sheets[sheet_name].columns.values())
cols_to_use = cols_to_use[1:]
cdc_sheet_data = np.asarray(cdc_data.sheets[sheet_name].df[cols_to_use].iloc[-1].values,dtype=float)

census_data = ExcelLayout.DataSource('Census')
cols_to_use = census_data.sheets[sheet_name].df.columns.intersection(census_data.sheets[sheet_name].columns.values())
cols_to_use = cols_to_use[1:]
census_sheet_data = np.asarray(census_data.sheets[sheet_name].df[cols_to_use].iloc[-1].values,dtype=float)

print(midrc_sheet_data)
print(cdc_sheet_data)
print(census_sheet_data)

print( f'midrc vs cdc JSD ({sheet_name}, final timpoint):    ', distance.jensenshannon(midrc_sheet_data, cdc_sheet_data, base=2.0) )
print( f'midrc vs census JSD ({sheet_name}, final timpoint): ', distance.jensenshannon(midrc_sheet_data, census_sheet_data, base=2.0) )
print( f'cdc vs census JSD ({sheet_name}, final timpoint):   ', distance.jensenshannon(cdc_sheet_data, census_sheet_data, base=2.0) )

[  171.  3408. 21061.   152. 34798.  2158.  5258.]
[  581479.  3079821.  9375835.    87400. 47547915.  1495318. 35631954.]
[ 1.12449633  5.99972609 12.4013544   0.20816639 61.631533   18.63472378
  0.        ]
midrc vs cdc JSD (Race, final timpoint):     0.348426109177342
midrc vs census JSD (Race, final timpoint):  0.34468720624958404
cdc vs census JSD (Race, final timpoint):    0.5048048383880475

In [2]:
# Set the sheet name and the date
sheet_name = 'Sex'
date = np.datetime64('2022-12-31')

def calcjsd(sheet_name, date):
    #get the list of data columns for the specified sheet
    cols_to_use = midrc_data.sheets[sheet_name].data_columns
    
    #find the row with the highest date below the date specified above
    midrc_row = (np.searchsorted(midrc_data.sheets[sheet_name].df.date.values, date) - 1).clip(0)
    cdc_row = (np.searchsorted(cdc_data.sheets[sheet_name].df.date.values, date) - 1).clip(0)
    census_row = (np.searchsorted(census_data.sheets[sheet_name].df.date.values, date) - 1).clip(0)
    
    # get the data for the rows and columns determined above
    midrc_sheet_data  = np.asarray(midrc_data .sheets[sheet_name].df[cols_to_use].iloc[midrc_row].values,dtype=float)
    cdc_sheet_data    = np.asarray(cdc_data   .sheets[sheet_name].df[cols_to_use].iloc[cdc_row].values,dtype=float)
    census_sheet_data = np.asarray(census_data.sheets[sheet_name].df[cols_to_use].iloc[census_row].values,dtype=float)

    sheet_data = {'MIDRC':midrc_sheet_data, 'CDC':cdc_sheet_data, 'Census':census_sheet_data}
    distances = {'MIDRC vs CDC': distance.jensenshannon(midrc_sheet_data, cdc_sheet_data, base=2.0),
                 'MIDRC vs Census': distance.jensenshannon(midrc_sheet_data, census_sheet_data, base=2.0),
                 'CDC vs Census': distance.jensenshannon(cdc_sheet_data, census_sheet_data, base=2.0),
                }
    return distances, sheet_data

distances, sheet_data = calcjsd(sheet_name, date)

print(sheet_data['MIDRC'])
print(sheet_data['CDC'])
print(sheet_data['Census'])

print( f'midrc vs cdc JSD ({sheet_name}, {date}):    ', distances['MIDRC vs CDC'] )
print( f'midrc vs census JSD ({sheet_name}, {date}): ', distances['MIDRC vs Census'] )
print( f'cdc vs census JSD ({sheet_name}, {date}):   ', distances['CDC vs Census'] )

[2.2244e+04 2.1177e+04 1.5000e+01]
[47968422. 41323918.  3847479.]
[50.75 49.25  0.  ]
midrc vs cdc JSD (Sex, 2022-12-31):     0.14189307877434718
midrc vs census JSD (Sex, 2022-12-31):  0.013755754058469807
cdc vs census JSD (Sex, 2022-12-31):    0.1469456824035153

In [7]:
# Set the sheet name and the date
# Options for sheet name: Sex, Race, Ethnicity, Race and Ethnicity
sheet_name = 'Race and Ethnicity'
date = np.datetime64('2022-12-31')

distances, sheet_data = calcjsd(sheet_name, date)

print(sheet_data['MIDRC'])
print(sheet_data['CDC'])
print(sheet_data['Census'])

print( f'midrc vs cdc JSD ({sheet_name}, {date}):    ', distances['MIDRC vs CDC'] )
print( f'midrc vs census JSD ({sheet_name}, {date}): ', distances['MIDRC vs Census'] )
print( f'cdc vs census JSD ({sheet_name}, {date}):   ', distances['CDC vs Census'] )

[ 4385.    98.  2617. 11745.    95. 21322.   471.  2703.]
[ 9097924.   348932.  2403692.  7089172.    62105. 32548377.   890457.
 40699160.]
[18.45   0.74   5.76  12.54   0.182 60.11   2.22   0.   ]
midrc vs cdc JSD (Race and Ethnicity, 2022-12-31):     0.412379413125048
midrc vs census JSD (Race and Ethnicity, 2022-12-31):  0.25730657727423883
cdc vs census JSD (Race and Ethnicity, 2022-12-31):    0.5137809045285942